<html>
    <head>
        <title>$action.getText("com.atlassian.confluence.extra.userlister.actions.ConfigureUserListsAction.name")</title>
    </head>
    <body>
        <div class="form-header">
            <p>$action.getText("userlister.configure.preamble")</p>
            <p>$action.getText("userlister.configure.preamble.1")</p>
            <p>$action.getText("userlister.configure.preamble.2")</p>
            <p>$action.getText("userlister.configure.preamble.3")</p>
        </div>

        #parse ( "/template/includes/actionerrors.vm" )
        #parse ( "/template/includes/actionmessages.vm" )

        <div>
            <form name="configure-userlister-blacklist-form" method="POST" action="${req.contextPath}/admin/userlister/doconfigure.action">
                #form_xsrfToken()
                <p><textarea name="blackListEntries" id="blackListEntries" rows="5" cols="24">$!generalUtil.htmlEncode($action.blackListEntries)</textarea></p>
                <input name="cancel" id="cancel" value="$action.getText('back.name')" type="submit" />
                <input name="save" id="save" value="$action.getText('add.name')" type="submit" />
            </form>
        </div>
    </body>
</html>